function Game.new 0
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push constant 4
    pop this 1
    push this 1
    call Board.new 1
    pop this 0
    push this 0
    call Board.initTestData 1
    pop temp 0
    push constant 6
    pop this 2
    push constant 20
    pop this 3
    push pointer 0
    return
function Game.run 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Game.draw 1
    pop temp 0
    push constant 0
    return
function Game.draw 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push this 2
    pop local 1
    push this 3
    pop local 2
label Game_0
    push local 0
    push this 1
    lt
    not
    if-goto Game_1
    push local 1
    push local 2
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push local 1
    push constant 1
    add
    pop local 1
    push pointer 0
    push local 0
    push local 1
    push local 2
    call Game.drawRow 4
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Game_0
label Game_1
    push local 1
    push local 2
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    return
function Game.drawRow 3
    push argument 0
    pop pointer 0
    push argument 2
    push argument 3
    call Output.moveCursor 2
    pop temp 0
    push constant 1
    call String.new 1
    push constant 124
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    pop local 0
label Game_2
    push local 0
    push this 1
    lt
    not
    if-goto Game_3
    push this 0
    push argument 1
    push local 0
    call Board.get 3
    pop local 1
    push pointer 0
    push local 1
    call Game.getCellString 2
    pop local 2
    push local 2
    call Output.printString 1
    pop temp 0
    push constant 1
    call String.new 1
    push constant 124
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Game_2
label Game_3
    push constant 0
    return
function Game.getCellString 0
    push argument 0
    pop pointer 0
    push argument 1
    push constant 0
    eq
    not
    if-goto Game_5
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_4
label Game_5
label Game_4
    push argument 1
    push constant 2
    eq
    not
    if-goto Game_7
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_6
label Game_7
label Game_6
    push argument 1
    push constant 4
    eq
    not
    if-goto Game_9
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 52
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_8
label Game_9
label Game_8
    push argument 1
    push constant 8
    eq
    not
    if-goto Game_11
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 56
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_10
label Game_11
label Game_10
    push argument 1
    push constant 16
    eq
    not
    if-goto Game_13
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 54
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_12
label Game_13
label Game_12
    push argument 1
    push constant 32
    eq
    not
    if-goto Game_15
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 51
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_14
label Game_15
label Game_14
    push argument 1
    push constant 64
    eq
    not
    if-goto Game_17
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 54
    call String.appendChar 2
    push constant 52
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_16
label Game_17
label Game_16
    push argument 1
    push constant 128
    eq
    not
    if-goto Game_19
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 56
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_18
label Game_19
label Game_18
    push argument 1
    push constant 256
    eq
    not
    if-goto Game_21
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 53
    call String.appendChar 2
    push constant 54
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_20
label Game_21
label Game_20
    push argument 1
    push constant 512
    eq
    not
    if-goto Game_23
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 53
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_22
label Game_23
label Game_22
    push argument 1
    push constant 1024
    eq
    not
    if-goto Game_25
    push constant 5
    call String.new 1
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 52
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_24
label Game_25
label Game_24
    push argument 1
    push constant 2048
    eq
    not
    if-goto Game_27
    push constant 5
    call String.new 1
    push constant 50
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 52
    call String.appendChar 2
    push constant 56
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
    goto Game_26
label Game_27
label Game_26
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    return
function Game.dispose 0
    push argument 0
    pop pointer 0
    push this 0
    call Board.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return